@using ChallengeBitsion.Business.Models.Clients
@using ChallengeBitsion.Business.Specifications.Clients
@inject ChallengeBitsion.Business.Interfaces.IClientService Service
@inject NavigationManager navManager

<h3>Listado de Clientes</h3>

<div class="row">
    <div class="col-12 text-right mb-2">
        <a class="btn btn-primary" href="/clients/create">Nuevo</a>
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Identification</th>
                <th>Edad</th>
                <th>Genero</th>
                <th>Activo</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in clients)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Identification</td>
                    <td>@item.Age</td>
                    <td>@item.Gender.Name</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="/clients/edit/@item.Id">Editar</a>
                        <a href="/clients/delete/@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-secondary" @onclick="PreviusPage">Anterior</button>
        <label>@(page) / @(pageTotal)</label>
        <button class="btn btn-secondary" @onclick="NextPage">Siguiente</button>
    </div>
</div>

@code {
    private List<ClientDTO> clients = new List<ClientDTO>();
    private int page = 1;
    private int pageCount = 3;
    private int pageTotal = 1;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Refresh();
    }

    protected async Task Refresh()
    {
        var spec = new ClientsWithGenderPagedSpec(page,pageCount);

        clients = await Service.GetAll(spec);
        var aux = await Service.Count(spec);

        pageTotal = (int) Math.Ceiling((aux/(decimal)pageCount));
    }

    protected async Task PreviusPage()
    {
        page = page - 1;
        if (page < 1) page = 1;

        await Refresh();
    }

    protected async Task NextPage()
    {
        page = page + 1;
        if (page > pageTotal) page = pageTotal;

        await Refresh();
    }

}